@font-face {
  font-family: "Noto Sans";
  src: url("/NotoSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "Source Sans";
  src: url("/SourceSans3-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 300 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;

  --font-body: "Noto Sans", sans-serif;
  --font-header: "Source Sans", sans-serif;

  font-family: var(--font-body);
  font-weight: 400;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --background: #192e45;
  --foreground: #294d73;

  --green: #44ad4d;
  --green-dark: #3a9c43;

  --red: #e34039;
  --red-dark: #db433b;

  --orange: #ea7633;
  --orange-dark: #e06e2f;

  --active: #ffffff;
  --almost-active: #cdd5e6;
  --semi-active: #8694a3;
}

html,
body,
#root {
  background-color: var(--background);
  color: var(--active);
  overflow: hidden;
}

a[href] {
  color: var(--active);
  text-decoration: none;
}

.snowPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  gap: 1rem;
}

.snowOverview {
  position: relative;
  width: 100%;
  height: 100%;
}

.snowOverviewHeader h4 {
  font-size: 1.5rem;
  font-family: var(--font-header);
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: var(--almost-active);
}

.snowOverviewHeader h4 strong {
  color: var(--orange);
  font-weight: 800;
}

.snowOverviewHeader p {
  font-size: 1.75rem;
  font-family: var(--font-header);
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: var(--almost-active);
}

.snowUpdates {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
}

.snowUpdates p {
  font-size: 1.25rem;
  font-family: var(--font-header);
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: var(--semi-active);
}
.snowUpdates ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.snowUpdates li {
  /* display: flex;
  align-items: center; */

  margin-left: 0.8rem;
  font-size: 0.95rem;
  font-family: var(--font-header);
  font-weight: 500;
  line-height: 1.05rem;
  color: var(--semi-active);
}
